{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="container">
  <h1>{{group.name}}</h1>
  <h2> Member Count: {{group.members.count}}</h2>

  <div class="content">
  	{% if user in group.members.all %}
  		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-warning"><span class="fa fa-times-circle-o"></span> Leave</a>
  	{% else %}
  		<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-success"><span class="fa fa-check-circle-o"></span> Join</a>
  	{% endif %}
  </div>
</div>
{% endblock %}

{% block group_content %}

<div class="col-md-8">
	{% if group.group_posts.count == 0 %}
	<h2>No posts in this group yet!</h2>
	{% else %}
		{% for post in group.group_posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}
	{% endif %}
</div>
{% endblock %}

{% block postgroup %}
<div class="container">
  	<div class="media-footer">
			{% if user.is_authenticated and group.owner == user and not hide_delete %}
				<a href="{% url 'groups:delete' slug=group.slug %}" title="delete"class="btn btn-sm btn-danger">
					<span class="fa fa-remove" aria-hidden="true"></span> Delete Group
				</a>
				<a href="{% url 'groups:delete' slug=group.slug %}" title="delete"class="btn btn-sm btn-danger">
					<span class="fa fa-remove" aria-hidden="true"></span> Update Group
				</a>
			{% endif %}
		</div>
    </div>
{% endblock %}
